@charset "utf-8";
body {
    font-family: 'pretendard',-apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', Helvetica, 'Apple SD Gothic Neo', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1.4;
}
img{
    vertical-align: top;
}
ul{
    list-style: none;
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
    color:inherit;
}

header{
    border-bottom: solid 1px #000;
    width: 100%;
}
header .wrapper{
    height: 109px;
    position: relative;
    width: 980px;
    margin: 0 auto;
}
header li{
    float: left;
}
header h1{
    position: absolute;
    bottom:5px; left: 0;
    margin:0;
}
header #register{
    position: absolute;
    top:3px; right: 0;
    font-weight: 400;
    font-size: 16px;
}
header #register li:first-child::after{
    content:"";
    background-color: #000; width: 1px; height: 14px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
header #register a:hover{
    
}
header #gnb{
    position: absolute;
    bottom: 5px; right:0;
}